/* Reseta margens e padding padrão */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Configurações básicas da página */
body, html {
    height: 100%;
    overflow: hidden;
}

#nomesite {
    display: block;
    position: absolute;
    top: 50px;
    left: 3vw;
    background-color: white;
    padding: 1vh 5vw 1vh 5vw;
    font-family: monospace;
    font-size: 1rem;
    z-index: 100;
}

.container {
    display: flex;
    flex-direction: row;
    height: 100vh;
    overflow-x: auto;
    cursor: grab;
    scrollbar-width: none;
}

.container::-webkit-scrollbar {
    display: none;
}

.square {
    flex: 0 0 30%; /* Define que o quadrado ocupa 30% da largura da viewport */
    height: 100%; /* O quadrado ocupa 100% da altura da viewport */
    scroll-snap-align: start;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    transition: transform 0.3s;
    user-select: none;
}

.square:hover {
    transform: scale(1.05);
}

.popup {
    display: none; /* Esconde a popup inicialmente */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9); /* Fundo mais escuro */
    justify-content: center;
    align-items: center;
}

.popup-content {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.popup-content img {
    max-width: 90%; /* Ajusta o tamanho máximo da imagem a 90% da largura */
    max-height: 90%; /* Ajusta o tamanho máximo da imagem a 90% da altura */
    object-fit: contain; /* Garante que a imagem mantenha suas proporções */
}

.active {
    cursor: grabbing;
}
